@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@layer base {
    body {
        @apply font-[Quicksand];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

#light{
    background-color:white;
}

#dark{
    background-color: black;
}


.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(135.9deg, rgb(109, 25, 252) 16.4%, rgb(125, 31, 165) 56.1%)!important;
}

